@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
}

.conversation-item .avatar.online::before, 
.conversation-item .avatar.offline::before{
width: 6px;
height: 6px;
top:1%;
right: 1%;
outline-width: 1px;
}

.EmojiPickerReact.epr-dark-theme{
    background-color: theme('colors.gray.900');
}